.container {
    display: flex;
    justify-content: center;
}

.content {
    height: 50vh;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    align-self: flex-start;
}


form {
    width: 300px;
    align-self: flex-start;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    padding: 20px;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 10px;
}

input {
    height: 22px;
    margin-top: 4px;
    border: 1px solid #979797;
    border-radius: 4px;
}

p {
    width: auto;
    max-width: 600px;
    margin-bottom: 40px;
    font-size: 18px;
}